html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #f9fbfd; 
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9fbfd; 
}

.content {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 24px;
  background: #f9fbfd;
  .layout, .content {
  overflow-x: hidden;
}

}
